@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bree+Serif&family=Fraunces&family=Inconsolata:wght@600;800&family=Josefin+Sans:ital,wght@0,700;1,400&family=Livvic:ital,wght@0,600;0,700;1,400;1,500;1,700&family=Poppins:wght@400;500;600;700;800&family=Road+Rage&family=Roboto:ital,wght@0,700;1,900&family=Wallpoet&display=swap');

.body{
    font-family: 'Alfa Slab One', cursive;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 20px !important;
    background-color: blue;
    margin-top: 15px !important;
}

.heading{
    font-size: 50px !important;
}

.text{
    font-size: 35px !important;
}